<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Setting</nb-card-header>
            <nb-card-body>


                <form [formGroup]="settingForm" (ngSubmit)="setSetting()">
                    <div class="form-group row">
                        <label class="label col-sm-3 col-form-label">Time Zone</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth formControlName="timezone" placeholder="timezone">
                            <div class="form-error"
                                *ngIf="( b.timezone.dirty || b.timezone.touched ) && b.timezone.invalid && b.timezone.errors">
                                timezone is Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="label col-sm-3 col-form-label">Break After</label>
                            <div class="col-sm-9">
                                <input type="text" nbInput fullWidth formControlName="breakAfter" placeholder="Break After">
                                <div class="form-error"
                                    *ngIf="( b.breakAfter.dirty || b.breakAfter.touched ) && b.breakAfter.invalid && b.breakAfter.errors">
                                    Break After is Required
                                </div>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="label col-sm-3 col-form-label">Break Time</label>
                            <div class="col-sm-9">
                                <input type="text" nbInput fullWidth formControlName="breakTime" placeholder="Break Time">
                                <div class="form-error"
                                    *ngIf="( b.breakTime.dirty || b.breakTime.touched ) && b.breakTime.invalid && b.breakTime.errors">
                                    Break Time is Required
                                </div>
                            </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" nbButton status="primary">Save Settings</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>