.form-error{
    color: #ff0000;
}
textarea{
    height: 125px;
}
.box-break-label{
    padding: 0;
}
.lable{
    position: relative;
    display: inline-flex;
}
.start-lable{
    color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 10px;
    margin-top: -4px;}