<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Shifts</nb-card-header>
            <nb-card-body>
                <form class="form-inline" [formGroup]="shiftForm" >
                    <div class="form-group  ">
                        <label for="inputfrom">From</label>
                        <input nbInput matInput formControlName="fromDate" placeholder="From Date" (ngModelChange)="dataSend($event)"
                            [nbDatepicker]="formpicker">
                        <nb-datepicker #formpicker></nb-datepicker>
                    </div>
                    <div class="form-group form-time">
                        <input matInput type="time" [(ngModel)]="fromTime" (ngModelChange)="dataSend($event)"
                             class="form-control" id="from-time" name="from-time"  [ngModelOptions]="{standalone: true}"/>
                    </div>

                    <div class="form-group">
                        <label for="inputto">To</label>
                        <input nbInput matInput name="toDate" formControlName="toDate" placeholder="To Date"  (ngModelChange)="dataSend($event)"
                            [nbDatepicker]="topicker">
                        <nb-datepicker #topicker></nb-datepicker>
                    </div>
                    <div class="form-group form-time">
                        <input matInput type="time"  class="form-control" [(ngModel)]="toTime" (ngModelChange)="dataSend($event)" 
                            id="to-time" name="to-time" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group">
                        <label class="label">Type</label>
                        <nb-select class="form-select" fullWidth multiple formControlName="types" name="types"  (ngModelChange)="dataSend($event)">
                            <nb-option value="t">Timestamps</nb-option>
                            <nb-option value="h">Holidays</nb-option>
                            <nb-option value="s">Sick Notes</nb-option>

                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label class="label">Employee</label>
                        <nb-select class="form-select" fullWidth  multiple formControlName="employee" name="employee" (ngModelChange)="dataSend($event)">
                            <nb-option [value]="emp.id" *ngFor="let emp of employes">{{  emp.name  }}</nb-option>
                          
                        </nb-select>
                    </div>

                </form>
                <ng2-smart-table [settings]="settings" 
                [source]="source"
                [ngClass]="hideCols"
                (deleteConfirm)="onDeleteConfirm($event)"
                (userRowSelect)="onUserRowSelect($event)" 
                (createConfirm)="onCreateConfirm($event)"
                (editConfirm)="onEditConfirm($event)">
</ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>