nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  .form-time{
    margin-top: 20px!important;
  }
  
  label{
      width: 100%;
  }
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }

  .form-select{
    width: 250px!important;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  .mg-20{
    margin-top: 20px!important;
  }

  .filter-option{
    justify-content: space-around;

  }
  
  .mat-back-option{
    background-color: #f7f9fc;
    border-color: #edf1f7;
    border-style: solid;
    border-width: 1px;
    color: #192038;
    padding: 10px;
  }

  .mat-select-panel{
    background-color: #ffffff!important;
    max-height: 20rem!important;
    height: 100%!important;
    overflow: auto!important;
  }
