<div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <nb-card>
      <nb-card-header>
        <div class="left">
            Working Hour Per Period

        </div>
          <div class="right">
            <div class="form-group">
              <mat-form-field class="mat-back-option">
                <mat-select fullWidth>
                  <mat-option value="w">Week</mat-option>
                  <mat-option value="m">Month</mat-option>
                  <mat-option value="y">Year</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

      </nb-card-header>
      <nb-card-body class="minHeight">
        <div echarts [options]="options" class="echart"></div>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-5">
    <nb-card>
      <nb-card-header>Working Hour Per Type
              <div class="right">
                <div class="form-group">
                  <mat-form-field class="mat-back-option">
                    <mat-select fullWidth>
                        <mat-option value="w">Week</mat-option>
                        <mat-option value="m">Month</mat-option>
                        <mat-option value="y">Year</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
    
      </nb-card-header>
      <nb-card-body class="minHeight mgTop">
        <chart type="pie" [data]="data" [options]="options"></chart>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>Currently Working
              <div class="right">
                <div class="form-group">
                  <mat-form-field class="mat-back-option">
                    <mat-select fullWidth>
                        <mat-option value="w">Week</mat-option>
                        <mat-option value="m">Month</mat-option>
                        <mat-option value="y">Year</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
    
      </nb-card-header>
      <nb-card-body class="minHeight">
        <table>
          <thead>
            <tr>
              <th>Name </th>
              <th>Time </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
            <tr>
              <td>James</td>
              <td>5h 36min</td>

            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-header>
    Employes List
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
      (deleteConfirm)="openDeleteDialog($event)" (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onUserRowSelect($event)">
    </ng2-smart-table>
  </nb-card-body>

  <nb-card-footer>
    <div class="add-button">
      <a routerLink="add" class="ng2-smart-action ng2-smart-action-add-add"><i class="nb-plus"></i></a>
    </div>
  </nb-card-footer>
</nb-card>