@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

.nb-theme-default ng2-smart-table tbody tr:hover {
  cursor: pointer
};

.id{
  width: 100px;

}
th.ng2-smart-actions.ng-star-inserted {
  width: 100px;
}
.type ,.gross_salary_month,.contract_hours_month{
  width: 200px;
}

// shift form filter time
.time-form{
  margin: 0 10px;
}
.label-main{
  justify-content: right!important;
}
