<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <form  [formGroup]="employeeForm" (ngSubmit)="onSubmitEmployeeForm(employeeForm.value)">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input name="" class="form-control" formControlName="name" placeholder="Full name" type="text">
      </div>
       <!-- form-group// -->
       <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-key"></i> </span>
        </div>
        <input name="" class="form-control" formControlName="password" placeholder="Password" type="password">
      </div> 
       <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input name="" class="form-control" placeholder="Email address"  type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <select class="custom-select" style="max-width: 120px;" >
          <option selected="">+971</option>
          <option value="1">+972</option>
          <option value="2">+198</option>
          <option value="3">+701</option>
        </select>
        <input name="" class="form-control" placeholder="Phone number" type="text" >
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-building"></i> </span>
        </div>
        <select class="form-control" >
          <option selected=""> Select job type</option>
          <option>Designer</option>
          <option>Manager</option>
          <option>Accaunting</option>
        </select>
      </div> 
      <!-- form-group end.// -->
       <!-- form-group// -->
      <div class="form-group" >
        <button [hidden]="employee.editMode" type="button" class="btn btn-primary btn-block" (click)="editEmployee()"> Edit </button>
        <button [hidden]="!employee.editMode" type="submit" class="btn btn-success btn-block"> Save </button>
      </div>
       <!-- form-group// -->
    </form>
  </article>
</div> <!-- card.// -->

<nb-card>
<!--
  <nb-card-header>
    <button *ngIf="stampedIn" type="button" class="btn btn-danger col-12" status="primary"
      (click)="stampOut(employee.password)">Stamp Out</button>
    <button *ngIf="!stampedIn" type="button" class="btn btn-success col-12" status="primary"
      (click)="stampIn(employee.password)">Stamp In</button>

  </nb-card-header>
-->
  <nb-card-body *ngIf="actifTab == 'timeSheetsView'">
    <div class="row">
      <hr />
      <div class="col-12">
        <nb-card size="small">
          <nb-tabset fullWidth>
              <!-- **************** TimeSheets Tab ****************-->
            <nb-tab tabTitle="TimeStamps" active="{{actifTab == 'timeSheetsView'}}" >
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary btn-block" (click)="switchViewsTo('timeStampForm')">Add TimeSheet</button>
                </div>
              <nb-list class="user-activity-list">
                <nb-list-item *ngFor="let item of filterTimeSheets('t')">

                  <div class="visited-date">
                    <div class="caption">Start</div>
                    {{ item.from_time | date:'medium' }}
                  </div>

                  <div class="visited-date">
                    <div class="caption">End</div>
                    {{ item.to_time  | date:'medium' }}
                  </div>

                  <div class="visited-pages-count">
                    <div class="caption">Nb Hours</div>
                    <div class="value">{{ item.hours | number }}</div>
                  </div>

                  <div class="visited-pages-count">
                    <div class="caption"></div>
                    <div class="value">{{ item.note }}</div>
                  </div>
                  <!--
                    <div class="visited-percentages">
                      <div class="caption">New visits, %</div>
                      <div class="delta value" [class.up]="item.deltaUp" [class.down]="!item.deltaUp">
                        <nb-icon [icon]="item.deltaUp ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
                        {{ item.newVisits }}%
                      </div>
                    </div>
              -->
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <!-- **************** End TimeSheets Tab ****************-->

            <!-- **************** Sick notes Tab ****************-->
            <nb-tab tabTitle="Sick note" active="{{actifTab == 'sickNotesView'}}">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary btn-block" (click)="switchViewsTo('sickNoteForm')">Add Sick Note</button>
                </div>
              <nb-list class="user-activity-list">
                <nb-list-item *ngFor="let item of filterTimeSheets('s')">

                  <div class="visited-date">
                    <div class="caption">Start</div>
                    {{ item.from_time | date:'medium' }}
                  </div>

                  <div class="visited-date">
                    <div class="caption">End</div>
                    {{ item.to_time  | date:'medium' }}
                  </div>

                  <div class="visited-pages-count">
                    <div class="caption">Nb Hours</div>
                    <div class="value">{{ item.hours | number }}</div>
                  </div>

                  <div class="visited-pages-count">
                    <div class="caption"></div>
                    <div class="value">{{ item.note }}</div>
                  </div>
                  <!--
                    <div class="visited-percentages">
                      <div class="caption">New visits, %</div>
                      <div class="delta value" [class.up]="item.deltaUp" [class.down]="!item.deltaUp">
                        <nb-icon [icon]="item.deltaUp ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
                        {{ item.newVisits }}%
                      </div>
                    </div>
              -->
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <!-- **************** End Sick Notes Tab ****************-->

            <!-- **************** Holidays Tab ****************-->
            <nb-tab tabTitle="Holidays" active="{{actifTab == 'holidaysView'}}">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary btn-block" (click)="switchViewsTo('holidayForm')">Add Holiday</button>
                </div>
              <nb-list class="user-activity-list">
                <nb-list-item *ngFor="let item of filterTimeSheets('h')">

                  <div class="visited-date">
                    <div class="caption">Start</div>
                    {{ item.from_time | date:'medium' }}
                  </div>

                  <div class="visited-date">
                    <div class="caption">End</div>
                    {{ item.to_time  | date:'medium' }}
                  </div>

                  <div class="visited-pages-count">
                    <div class="caption">Nb Hours</div>
                    <div class="value">{{ item.hours | number }}</div>
                  </div>

                  <div class="visited-pages-count">
                    <div class="caption"></div>
                    <div class="value">{{ item.note }}</div>
                  </div>
                  <!--
                    <div class="visited-percentages">
                      <div class="caption">New visits, %</div>
                      <div class="delta value" [class.up]="item.deltaUp" [class.down]="!item.deltaUp">
                        <nb-icon [icon]="item.deltaUp ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
                        {{ item.newVisits }}%
                      </div>
                    </div>
              -->
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <!-- **************** End Holidays Tab ****************-->
          </nb-tabset>
        </nb-card>
      </div>
    </div>
  </nb-card-body>


  <!-- ************************ TIME STAMP FORM ************************-->

  <nb-card-body *ngIf="actifTab == 'timeStampForm'">
    <form [formGroup]="timeStampForm" (ngSubmit)="onSubmit(timeStampForm.value)">
      <div class="form-row">
        <div class="form-group  col-12">
          <input type="hidden" formControlName="type" [ngModel]="'timestamp'">
        </div>
        <div class="form-group  col-4">
          <label for="inputfrom">From</label>
          <input nbInput matInput formControlName="fromDate" placeholder="From" [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
        <div class="form-group  col-2">
          <input matInput name="fromTime" type="time" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" formControlName="fromTime"
            class="form-control" id="from-time" name="from-time" />
        </div>
        <div class="form-group  col-4">
          <label for="inputto">To</label>
          <input nbInput matInput name="toDate" formControlName="toDate" placeholder="To" [nbDatepicker]="topicker">
          <nb-datepicker #topicker></nb-datepicker>
        </div>
        <div class="form-group  col-2">
          <input matInput name="toTime" type="time" formControlName="toTime" class="form-control" id="to-time"
            name="from-time" />
        </div>
        <div class="form-group col-12">
          <label for="exampleFormControlTextarea1">Note</label>
          <textarea matInput name="note" formControlName="note" class="form-control" id="exampleFormControlTextarea1"
            rows="3"></textarea>
        </div>
        <div class="form-group col-12 text-right">
          <button id="submitbutton" name="submitbutton" class="btn btn-primary col-3">
            Add
          </button>
          <button id="cancelbutton" name="cancelbutton" class="btn btn-danger col-3" type="button"
            (click)="switchViewsTo('timeSheetsView')">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>

  <!-- ************************ SICK NOTE FORM ************************-->
  <nb-card-body *ngIf="actifTab == 'sickNoteForm'">
      <form [formGroup]="timeStampForm" (ngSubmit)="onSubmit(timeStampForm.value)">
        <div class="form-group  col-12">
          <input type="hidden" formControlName="type" [ngModel]="'sicknote'">
        </div>
        <div class="form-row">
          <div class="form-group  col-6">
            <label for="inputfrom">From</label>
            <input nbInput matInput formControlName="fromDate" placeholder="From" [nbDatepicker]="formpicker">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="form-group  col-6">
            <label for="inputto">To</label>
            <input nbInput matInput name="toDate" formControlName="toDate" placeholder="To" [nbDatepicker]="topicker">
            <nb-datepicker #topicker></nb-datepicker>
          </div>
          <div class="form-group col-12">
            <label for="exampleFormControlTextarea1">Note</label>
            <textarea matInput name="note" formControlName="note" class="form-control" id="exampleFormControlTextarea1"
              rows="3"></textarea>
          </div>
          <div class="form-group col-12 text-right">
            <button id="submitbutton" name="submitbutton" class="btn btn-primary col-3">
              Add
            </button>
            <button id="cancelbutton" name="cancelbutton" class="btn btn-danger col-3" type="button"
              (click)="switchViewsTo('timeSheetsView')">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </nb-card-body>

     <!-- ************************ HOLIDAY FORM ************************-->
  <nb-card-body *ngIf="actifTab == 'holidayForm'">
      <form [formGroup]="timeStampForm" (ngSubmit)="onSubmit(timeStampForm.value)">
        <div class="form-row">
          <div class="form-group  col-12">
                <input type="hidden" formControlName="type" [ngModel]="'holiday'">
          </div>
          <div class="form-group  col-6">
            <label for="inputfrom">From</label>
            <input nbInput matInput formControlName="fromDate" placeholder="From" [nbDatepicker]="formpicker">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="form-group  col-6">
            <label for="inputto">To</label>
            <input nbInput matInput name="toDate" formControlName="toDate" placeholder="To" [nbDatepicker]="topicker">
            <nb-datepicker #topicker></nb-datepicker>
          </div>
          <div class="form-group col-12">
            <label for="exampleFormControlTextarea1">Note</label>
            <textarea matInput name="note" formControlName="note" class="form-control" id="exampleFormControlTextarea1"
              rows="3"></textarea>
          </div>
          <div class="form-group col-12 text-right">
            <button id="submitbutton" name="submitbutton" class="btn btn-primary col-3">
              Add
            </button>
            <button id="cancelbutton" name="cancelbutton" class="btn btn-danger col-3" type="button"
              (click)="switchViewsTo('timeSheetsView')">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </nb-card-body>


</nb-card>